compton-git
dunst
feh
ffmpeg
git
htop
i3-gaps
i3lock
i3lock-fancy-dualmonitors-git
id3
kalu
libnotify
libreoffice-fresh
light
lm_sensors
lxappearance
mpd
mpc
neofetch-git
neomutt
nerd-fonts-complete
polybar-git
ranger
rofi
oh-my-zsh-git
urxvt-resize-font-git
screenkey
system-san-francisco-font-git
xfce4-clipman-plugin
xfce4-screenshooter
zsh
zsh-completions
